*.pyc
src/visualizations.py
*.pkl
src/utils/get_gender_faces.py
src/train_emotion_classifier_transfer_learning.py
*.log
videos
result
web_processor_debugging.py
model_data/voc_classes.txt
model_data/sport.txt
model_data/cc.it.300.bin.gz
model_data/cc.it.300.bin
model_data/GoogleNews-vectors-negative300-SLIM.bin.gz
model_data/it.vec
ThumbnailPredictorExecution.py
TagPredictorExecution.py
model_data/IT.200K.cbow1_wind5_hs0_neg10_size300_smpl1e-05.txt
model_data/it.bin
model_data/GoogleNews-vectors-negative300.bin.gz
